<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/loyout}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/application.css}">
    <title>Contacts</title>
</head>
<body>

<section layout:fragment="page-content">
    <h1>Contacts</h1>
    <p>If you have any questions, please feel free to contact us through the following channels:</p>
    <ul>
        <li>Email: info@example.com</li>
        <li>Phone: +1 234 567 890</li>
        <li>Address: 1234 Example Street, City, Country</li>
    </ul>
</section>


<th:block layout:fragment="script-content">

</th:block>
</body>
</html>
